.tiles-container--row {
  display: flex;
  flex-direction: row;
}

.tiles-container--tile {
  width: 100px;
  height: 100px;
  background: #e67e22;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.tiles-container--tile-pattern {
  background:#e74c3c;
}

.tiles-container--tile-selected,
.tiles-container-selectable .tiles-container--tile:hover {
  background: #d35400;
  cursor: pointer;
}
